    {{> metadata.hbs ref1="../css/elegirInicio/elegirInicio.css" titulo="Elegir Inicio"}}

    <body>

        <section class="cont">
            <section class="evento">
                <div class="contenedor">
                    <h1>¡Bienvenido/a!</h1>
                    <h2>Elija cómo quiere ingresar</h1>
                    
                    <div class="contenedor-opciones">
                        <div class="opciones">
                            <div class="titulo">
                                <p>Con usuario</p>
                            </div>
                            <div class="imagen">
                                <a href="../inicioDeSesion"><img src="../img/elegirInicio/resources/usuario1.png"></a>
                            </div>
                        </div>
                        
                        <div class="opciones">
                            <div class="titulo">
                                <p>Sin usuario</p>
                            </div>
                            <div class="imagen">
                                <a href="..\paginaPrincipalSinUsuario"><img src="../img/elegirInicio/resources/sinUsuario1.png"></a>
                            </div>
                        </div>

                        <div class="opciones">
                            <div class="titulo">
                                <p>Voluntario</p>
                            </div>
                            <div class="imagen">
                                <a href="../inicioDeSesionVoluntario"><img src="../img/elegirInicio/resources/voluntario1.png"></a>
                            </div>
                        </div>

                        <div class="opciones">
                            <div class="titulo">
                                <p>Administrador</p>
                            </div>
                            <div class="imagen">
                                <a href="..\inicioDeSesionAdmin"><img src="../img/elegirInicio/resources/administrador1.png"></a>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </section>
    </body>
</html>