    {{> metadata.hbs ref1="../css/formularioEstaPerdidaSinUsuario/formularioEstaPerdida.css" ref2="../css/estilo.css" titulo="Formulario Esta Perdida"}}

    {{> header.hbs}}

            <div class="contenedor" method="post">
                <section class="campos">
                    <h3 class="titulo">Complete los siguientes campos</h3>
                    <form class="formulario" action="">

                        <!-- datos de la mascota -->

                        {{> mascotaPerdida.hbs}}

                    </form>
                </section>
            </div>

    {{> footer.hbs}}

    </body>

</html>