<header>

    <div class="logo">
        <a href="..\organizacionAdministradorUnico"> <img src="../img\resoucesComunes\logo.png"> </a>
    </div>

    <div class="inicio">
        <div class="sesion">
            <a href="../">Cerrar Sesión</a>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="../preguntasAdministrador">GESTIONAR PREGUNTAS</a></li>
            <li><a href="../organizacionAdministradorUnico">VER MI ORGANIZACION</a></li>
            <li><a href="../registrarVoluntarioAdminUnico">NUEVO VOLUNTARIO</a></li>
        </ul>
    </nav>

</header>
