<header>

    <div class="logo">
        <a href="..\index"> <img src="../img\resoucesComunes\logo.png"> </a>
    </div>

    <div class="inicio">
        <div class="registro">
            <a href="..\seccionRegistrarMascotas"> Registrar Mascota</a>
        </div>
        <div class="sesion">
            <a href="../">Cerrar Sesión</a>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="../misMascotasUsuario">MIS MASCOTAS</a></li>
            <li><a href="../adoptarUnaMascota">ADOPCIONES</a></li>
            <li><a href="../mascotasPerdidas">MASCOTAS PERDIDAS</a></li>
            <li><a href="../hogaresTransito">HOGARES DE TRÁNSITO</a></li>
        </ul>
    </nav>

</header>