<header>

    <div class="logo">
        <a href="..\verPublicacionesMascotasPerdidas"> <img src="../img\resoucesComunes\logo.png"> </a>
    </div>

    <div class="inicio">
        <div class="sesion">
            <a href="../">Cerrar Sesión</a>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="../verPublicacionesMascotasPerdidas">PUBLICACIONES DE MASCOTAS PERDIDAS</a></li>
            <li><a href="../verPublicacionesDarEnAdopcion">PUBLICACIONES DE ADOPCIONES</a></li>
            <li><a href="../verPublicacionesIntencionDeAdoptar">PUBLICACIONES DE INTENCIÓN DE ADOPCIÓN</a></li>
        </ul>
    </nav>

</header>