   {{> metadata.hbs ref1="../css/inicioDeSesion/mascotaCargadaExitosamente.css" titulo="Querer Dar en Adopción Éxito"}}

    <body>
            <div class ="contenedor">
                <div class="logo">
                    <img src=../img/inicioDeSesion/resources/logo.png style='height: 100%; width: 100%; object-fit: contain'>
                </div>

                <h1 style='height: 100%; text-align:center'>Su mascota ha sido publicada para ser dada en adopción</h1>
                <br>

                <a href="../index">
                        <input  type="button" name="log" id="log" value="Volver" style='height: 100%; width: 100%; object-fit: contain'>
                </a>

                <br><br>

            </div>
    </body>

</html>