    {{> metadata.hbs ref1="../css/inicioDeSesion/inicioDeSesion.css" titulo="seguridadContraseña"}}

    <body>
            <div class ="contenedor">
                <div class="logo">
                    <img src=../img/inicioDeSesion/resources/logo.png style='height: 100%; width: 100%; object-fit: contain'>
                </div>
                       <h1 style='height: 100%; text-align:center'>La contraseña iniciada no cumple con los estandares de seguridad</h1>
                       <h3 style='height: 100%; text-align:center; margin-top:10px; color= blue'>(La contraseña debe tener al menos una mayuscula inical y 8 caracteres o mas)</h3>
                    <br><br>
                    <a href="..\registrarUsuario">
                        <input  type="button" name="log" id="log" value="Registrarse nuevamente" style='height: 100%; width: 100%; object-fit: contain'>
                    </a>
            </div>
    </body>

</html>