    {{> metadata.hbs ref1="../css/inicioDeSesion/inicioDeSesion.css" titulo="usuario Inexistente"}}

    <body>
            <div class ="contenedor">
                <div class="logo">
                    <img src=../img/inicioDeSesion/resources/logo.png style='height: 100%; width: 100%; object-fit: contain'>
                </div>
                       <h1 style='height: 100%; text-align:center'>Su usuario o contraseña son incorrectos</h1>
                       <p style='height: 100%; text-align:center; color= blue'>Por favor intente nuevamente</p>
                    <br><br>
                    <a href="..\inicioDeSesion">
                        <input  type="button" name="log" id="log" value="Siguiente" style='height: 100%; width: 100%; object-fit: contain'>
                    </a>

            </div>
    </body>

</html>