<header>

    <div class="logo">
        <a href="..\mascotasAdministrador"> <img src="../img\resoucesComunes\logo.png"> </a>
    </div>

    <div class="inicio">
        <div class="sesion">
            <a href="../">Cerrar Sesión</a>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="..\mascotasAdministrador">MASCOTAS</a></li>
            <li><a href="../organizacionesAdministrador">ORGANIZACIONES</a></li>
            <li><a href="../registrarVoluntario">REGISTRAR VOLUNTARIO</a></li>
        </ul>
    </nav>

</header>