   {{> metadata.hbs ref1="../css/misMascotasUsuario/misMascotasUsuario.css" ref2="../css/estilo.css" titulo="Mis Mascotas (Usuario)"}}

    {{> header.hbs}}

        <h3 class="titulo">Mis Mascotas Registradas</h3>

    {{#each mascota}}

        <div class="contenedor">

            <p class="texto">{{nombreMascota}}

                <div class="imagen">

                    <img src="{{ruta}}" class="imagenMascota">
                </div>

            <br><br>

                <div class="seccionBotones">
                    <a href="../verMiMascota/{{id}}"><input class="botonAprobar" type="submit" id="floated" value="Ver Detalles"></a>
                </div>
                <br><br>
            </p>

        </div>
        <br><br>
    {{/each}}

    <br><br>

        <a href="../formularioEsMiMascota">
            <input class="nuevaMascota" type="submit" value="+ Añadir otra mascota">
        </a>

    {{> footer.hbs}}

    </body>

</html>