    {{> metadata.hbs ref1="../css/inicioDeSesion/inicioDeSesion.css" titulo="formulario es mi mascota Exitoso"}}

    <body>
            <div class ="contenedor">
                <div class="logo">
                    <img src=../img/inicioDeSesion/resources/logo.png style='height: 100%; width: 100%; object-fit: contain'>
                </div>
                       <h1 style='height: 100%; text-align:center'>Su mascota ha sido registrada con exito</h1>
                    <br><br>
                    <a href="..\misMascotasUsuario">
                        <input  type="button" name="log" id="log" value="Ir a mis mascotas" style='height: 100%; width: 100%; object-fit: contain'>
                    </a>

            </div>
    </body>

</html>