<header>

    <div class="logo">
        <a href="..\paginaPrincipalSinUsuario"> <img src="../img\resoucesComunes\logo.png"> </a>
    </div>

    <div class="inicio">
        <div class="registro">
            <a href="../seccionRegistrarMascotaSinUsuario"> Registrar Mascota</a>
        </div>
        <div class="sesion">
            <a href="../">Iniciar Sesión</a>
        </div>
        <div class="sesion">
            <a href="../registrarUsuario">Registrarme</a>
        </div>
    </div>

    <nav>
        <ul>
            <li><a href="../misMascotasSinUsuario">MIS MASCOTAS</a></li>
            <li><a href="#" onclick="return confirm('Para poder ver las adopciones debe iniciar sesión.');">ADOPCIONES</a></li>
            <li><a href="../mascotasPerdidasSU">MASCOTAS PERDIDAS</a></li>
            <li><a href="#" onclick="return confirm('Para poder ver los distintos hogares debe iniciar sesión.');">HOGARES DE TRÁNSITO</a></li>
        </ul>
    </nav>

</header>