    {{> metadata.hbs ref1="../css/inicioDeSesion/inicioDeSesion.css" titulo="registrar mascota sin usuario exitoso"}}

    <body>
            <div class ="contenedor">
                <div class="logo">
                    <img src=../img/inicioDeSesion/resources/logo.png style='height: 100%; width: 100%; object-fit: contain'>
                </div>
                       <h1 style='height: 100%; text-align:center'>¡Su mascota ha sido registrada con éxito!</h1>
                       <p style='height: 100%; text-align:center; color= blue'></p>
                    <br><br>
                    <a href="..\misMascotasSinUsuario">
                        <input  type="button" name="log" id="log" value="Regresar a mis mascotas" style='height: 100%; width: 100%; object-fit: contain'>
                    </a>

            </div>
    </body>

</html>