    {{> metadata.hbs ref1="../css/seccionRegistrarMascotas/seccionRegistrarMascotas.css" ref2="../css/estilo.css" titulo="Sección Registrar Mascota (Sin Usuario)"}}

    {{> headerSU.hbs}}

        <section class="cont">
            <section class="evento">
                <div class="contenedor">
                    <div class="contenedor-opciones">
                        <div class="opcion">
                            <div class="titulo">
                                <p>Es mi mascota</p>
                            </div>
                            <div class="imagen">
                                <a href="../registrarMascotaSinUsuario"><img src="../img/seccionRegistrarMascotas/resources/corgi.jpg"></a>
                            </div>
                        </div>
                        
                        <div class="opcion">
                            <div class="titulo">
                                <p>Está perdida</p>
                            </div>
                            <div class="imagen">
                                <a href="..\formularioEstaPerdidaSinUsuario"><img src="../img/seccionRegistrarMascotas/resources/lostPet.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>

            {{> footer.hbs}}

    </body>

</html>