    .titulo {
        font-size: 34px;
        line-height: 34px;
        margin-bottom: 60px;
        font-weight: 700;
        text-align: left;
        padding-left: 50px;
    }

    .contenedor {
        background-color: #f2f2f2;
        margin: auto;
        width: 50%;
        justify-content:center;
        border-radius: 3%;
    }

    .contenedor .texto {
        text-align: center;
        font-family: "Open Sans";
        font-size:x-large;
        font-weight: 600;
        padding-top: 20px;
        font-weight: 600;
    }

    .epigrafe, 
    .imagen {
        text-align: center;
        margin: 20px 20px;
    }

    img {
        display: inline-block;
    }

    .subtitulo {
        font-size: medium;
    }

    .botones {
        overflow:hidden;
    }

    .botonDetalles {
        border: 2px solid #b4b4b4;
        padding: 8px 10px;
        font-size: 15px;
        color: white;
        border-radius: 10%;
        background-color: #b4b4b4;
    }
    .nuevaMascota {
        margin-left: 150px;
        margin-bottom: 30px;
        font-size: 15px;
        padding: 8px 10px;
    }
     .botonAceptar {
        border: 2px solid #cecece;
        border-radius: 10px;
        padding: 15px 20px;
        font-size: 20px;
        font-family: "Open Sans";
        margin-left: 10px;
        margin-right: 10px;
        float: right;
        color: white;
        background-color: #0080f0;
    }
    .botonConfigurar {
        border: 1px solid white;
        padding: 8px 10px;
        font-size: 15px;
        margin: 0px 20px;
        color: b4b4b4;
        border-radius: 10%;
        background-color: white;
    }

    .botonConfigurar,
    .botonDetalles {
        float: right;
        margin: 20px;
    }

    .botonConfigurar:hover,
    .botonDetalles:hover {
        cursor: pointer;
    }